body{font-family:"Times New Roman",serif;font-size:10pt;margin:0}
.page{page-break-after:always;padding:5mm}
.table-bulletin{border-collapse:collapse;width:100%}
.table-bulletin td,.table-bulletin th{border:0.2pt solid #000;padding:2px}
.vertical-header{writing-mode:vertical-rl;transform:rotate(180deg);font-weight:bold;text-align:center}
.center{text-align:center}
.bold{font-weight:bold}
.small{font-size:9pt}
